
#OSD-376 Metadata

In [6]:
import pandas as pd
import plotly

In [44]:
#osd_liver = pd.read_csv("C:\\Users\\14385\\Desktop\\GeminiLab\\s_OSD-379.csv.csv")
osd_liver = pd.read_csv("C:\\Users\\14385\\Downloads\\s_OSD-379 (1).csv")
#osd_liver = pd.read_csv("C:\\Users\\14385\\Downloads\\a_OSD-379_transcription-profiling_rna-sequencing-_rna-seq__Illumina-NovaSeq.csv")

In [45]:
osd_liver.shape

(141, 61)

In [46]:
osd_liver.dtypes

Source Name                                    object
Sample Name                                    object
Characteristics[Organism]                      object
Term Source REF                                object
Term Accession Number                          object
                                                ...
Term Accession Number.14                       object
Parameter Value[Sample Storage Temperature]     int64
Unit.3                                         object
Term Source REF.15                             object
Term Accession Number.15                       object
Length: 61, dtype: object

In [47]:
osd_liver.columns

Index(['Source Name', 'Sample Name', 'Characteristics[Organism]',
       'Term Source REF', 'Term Accession Number', 'Characteristics[Strain]',
       'Term Source REF.1', 'Term Accession Number.1',
       'Characteristics[Genotype]', 'Term Source REF.2',
       'Term Accession Number.2', 'Characteristics[Sex]', 'Term Source REF.3',
       'Term Accession Number.3', 'Characteristics[Material Type]',
       'Term Source REF.4', 'Term Accession Number.4',
       'Factor Value[Spaceflight]', 'Term Source REF.5',
       'Term Accession Number.5', 'Factor Value[Duration]', 'Unit',
       'Term Source REF.6', 'Term Accession Number.6',
       'Characteristics[Animal Source]', 'Factor Value[Euthanasia Location]',
       'Term Source REF.7', 'Term Accession Number.7',
       'Factor Value[Dissection Condition]', 'Term Source REF.8',
       'Term Accession Number.8', 'Factor Value[Age]', 'Unit.1',
       'Term Source REF.9', 'Term Accession Number.9', 'Protocol REF',
       'Parameter Value[Light Cycle]', 'Parameter Value[Diet]',
       'Term Source REF.10', 'Term Accession Number.10',
       'Parameter Value[Feeding Schedule]', 'Term Source REF.11',
       'Term Accession Number.11', 'Protocol REF.1',
       'Comment[LAR Animal Receipt Date at Scrippts]',
       'Comment[Euthanasia Dates]', 'Comment[Dissection Dates]',
       'Parameter Value[Euthanasia Method]', 'Term Source REF.12',
       'Term Accession Number.12',
       'Parameter Value[Carcass Preservation Method]', 'Unit.2',
       'Term Source REF.13', 'Term Accession Number.13',
       'Parameter Value[Sample Preservation Method]', 'Term Source REF.14',
       'Term Accession Number.14',
       'Parameter Value[Sample Storage Temperature]', 'Unit.3',
       'Term Source REF.15', 'Term Accession Number.15'],
      dtype='object')

In [48]:
osd_liver['Factor Value[Euthanasia Location]'].unique()

array(['On Earth', 'On ISS'], dtype=object)

In [52]:
osd_liver['Characteristics[Material Type]'].unique()

array(['Left Lobe of the Liver'], dtype=object)

In [53]:
#count occurrences of vivarium control 
vivarium_count = osd_liver["Factor Value[Spaceflight]"].str.contains("vivarium", case=False).sum()
vivarium_count

np.int64(33)

In [54]:
basal_control = osd_liver["Factor Value[Spaceflight]"].str.contains("basal control", case=False).sum()
basal_control

np.int64(38)

In [55]:
osd_liver["Sample Name"]

0      RR8_LVR_BSL_ISS-T_OLD_BI1
1      RR8_LVR_BSL_ISS-T_OLD_BI2
2      RR8_LVR_BSL_ISS-T_OLD_BI3
3      RR8_LVR_BSL_ISS-T_OLD_BI4
4      RR8_LVR_BSL_ISS-T_OLD_BI5
                 ...
136     RR8_LVR_VIV_LAR_OLD_VL15
137     RR8_LVR_VIV_LAR_OLD_VL16
138     RR8_LVR_VIV_LAR_YNG_VL17
139     RR8_LVR_VIV_LAR_YNG_VL18
140     RR8_LVR_VIV_LAR_OLD_VL20
Name: Sample Name, Length: 141, dtype: object

In [56]:
for column in osd_liver.columns:
    duplicate_count = osd_liver[column].duplicated().sum() 
    if duplicate_count < 140:
        print(f" '{column}' and '{duplicate_count}'")

 'Source Name' and '0'
 'Sample Name' and '0'
 'Factor Value[Spaceflight]' and '137'
 'Term Source REF.5' and '139'
 'Term Accession Number.5' and '139'
 'Factor Value[Duration]' and '136'
 'Factor Value[Euthanasia Location]' and '139'
 'Factor Value[Dissection Condition]' and '139'
 'Factor Value[Age]' and '139'
 'Comment[LAR Animal Receipt Date at Scrippts]' and '139'
 'Comment[Euthanasia Dates]' and '133'
 'Comment[Dissection Dates]' and '133'
 'Parameter Value[Carcass Preservation Method]' and '139'
 'Unit.2' and '139'
 'Term Source REF.13' and '139'
 'Term Accession Number.13' and '139'

In [57]:
selected_columns = ['Sample Name', 'Characteristics[Organism]','Characteristics[Sex]','Characteristics[Material Type]',
 'Factor Value[Spaceflight]',  
 'Factor Value[Duration]' ,
 'Factor Value[Euthanasia Location]' ,
 'Factor Value[Dissection Condition]', 
 'Factor Value[Age]', 
 'Parameter Value[Carcass Preservation Method]']

In [58]:
new_osd_liver = osd_liver[selected_columns].copy()

In [59]:
selected_columns = ['Sample Name',
 'Factor Value[Spaceflight]',  
 'Factor Value[Duration]','Factor Value[Age]','Factor Value[Euthanasia Location]']

In [60]:
space_fligth = new_osd_liver[selected_columns].copy()
space_fligth

,Sample Name,Factor Value[Spaceflight],Factor Value[Duration],Factor Value[Age],Factor Value[Euthanasia Location]
0,RR8_LVR_BSL_ISS-T_OLD_BI1,Basal Control,0,32,On Earth
1,RR8_LVR_BSL_ISS-T_OLD_BI2,Basal Control,0,32,On Earth
2,RR8_LVR_BSL_ISS-T_OLD_BI3,Basal Control,0,32,On Earth
3,RR8_LVR_BSL_ISS-T_OLD_BI4,Basal Control,0,32,On Earth
4,RR8_LVR_BSL_ISS-T_OLD_BI5,Basal Control,0,32,On Earth
...,...,...,...,...,...
136,RR8_LVR_VIV_LAR_OLD_VL15,Vivarium Control,~40,32,On Earth
137,RR8_LVR_VIV_LAR_OLD_VL16,Vivarium Control,~40,32,On Earth
138,RR8_LVR_VIV_LAR_YNG_VL17,Vivarium Control,~40,10 to 12,On Earth
139,RR8_LVR_VIV_LAR_YNG_VL18,Vivarium Control,~40,10 to 12,On Earth
140,RR8_LVR_VIV_LAR_OLD_VL20,Vivarium Control,~40,32,On Earth

In [70]:
space_fligth['Age Category'] = space_fligth['Factor Value[Age]'].apply(lambda x: 'Old' if x => 32 else 'Young')
space_fligth.copy()

SyntaxError: expected 'else' after 'if' expression (4015299099.py, line 1)

In [62]:
# Assuming 'space_flight' is your DataFrame

# Convert the 'Factor Value[Age]' column to numeric, forcing errors to NaN
space_fligth['Factor Value[Age]'] = pd.to_numeric(space_fligth['Factor Value[Age]'], errors='coerce')

# Apply the lambda function to create the 'Age Category' column
space_fligth['Age Category'] = space_fligth['Factor Value[Age]'].apply(lambda x: 'Old' if x >= 32 else 'Young')

# Create a copy of the DataFrame
space_flight_copy = space_fligth.copy()
space_flight_copy

,Sample Name,Factor Value[Spaceflight],Factor Value[Duration],Factor Value[Age],Factor Value[Euthanasia Location],Age Category
0,RR8_LVR_BSL_ISS-T_OLD_BI1,Basal Control,0,32.0,On Earth,Old
1,RR8_LVR_BSL_ISS-T_OLD_BI2,Basal Control,0,32.0,On Earth,Old
2,RR8_LVR_BSL_ISS-T_OLD_BI3,Basal Control,0,32.0,On Earth,Old
3,RR8_LVR_BSL_ISS-T_OLD_BI4,Basal Control,0,32.0,On Earth,Old
4,RR8_LVR_BSL_ISS-T_OLD_BI5,Basal Control,0,32.0,On Earth,Old
...,...,...,...,...,...,...
136,RR8_LVR_VIV_LAR_OLD_VL15,Vivarium Control,~40,32.0,On Earth,Old
137,RR8_LVR_VIV_LAR_OLD_VL16,Vivarium Control,~40,32.0,On Earth,Old
138,RR8_LVR_VIV_LAR_YNG_VL17,Vivarium Control,~40,NaN,On Earth,Young
139,RR8_LVR_VIV_LAR_YNG_VL18,Vivarium Control,~40,NaN,On Earth,Young
140,RR8_LVR_VIV_LAR_OLD_VL20,Vivarium Control,~40,32.0,On Earth,Old

In [63]:
osd_liver['Factor Value[Euthanasia Location]'].unique()

array(['On Earth', 'On ISS'], dtype=object)

In [64]:
age_counts = space_fligth.groupby(['Factor Value[Spaceflight]', 'Age Category']).size().unstack(fill_value=0)
age_counts

Age Category               Old  Young
Factor Value[Spaceflight]
Basal Control               19     19
Ground Control              17     18
Space Flight                17     18
Vivarium Control            16     17

In [65]:
euthanasia = space_fligth.groupby(['Factor Value[Spaceflight]', 'Factor Value[Euthanasia Location]']).size().unstack(fill_value=0)
euthanasia

Factor Value[Euthanasia Location]  On Earth  On ISS
Factor Value[Spaceflight]
Basal Control                            38       0
Ground Control                           35       0
Space Flight                             15      20
Vivarium Control                         33       0

In [66]:
# Set the plot size
plt.figure(figsize=(15, 8))

# Create a scatter plot with Seaborn
sns.scatterplot(x='Sample Name', y='Factor Value[Duration]', hue='Age Category', style='Factor Value[Spaceflight]', data=space_fligth, s=100)

# Rotate the x labels for readability
plt.xticks(rotation=90)

# Title and labels
plt.title('Spaceflight Duration vs Sample Name by Age Category', fontsize=16)
plt.xlabel('Sample Name', fontsize=14)
plt.ylabel('Spaceflight Duration (days)', fontsize=14)
plt.legend(title='Age Category', loc='upper right')

# Show plot
plt.tight_layout()
plt.show()

NameError: name 'plt' is not defined

In [67]:
space_fligth['Sample Name'] = range(1, len(space_fligth) + 1)
space_fligth

,Sample Name,Factor Value[Spaceflight],Factor Value[Duration],Factor Value[Age],Factor Value[Euthanasia Location],Age Category
0,1,Basal Control,0,32.0,On Earth,Old
1,2,Basal Control,0,32.0,On Earth,Old
2,3,Basal Control,0,32.0,On Earth,Old
3,4,Basal Control,0,32.0,On Earth,Old
4,5,Basal Control,0,32.0,On Earth,Old
...,...,...,...,...,...,...
136,137,Vivarium Control,~40,32.0,On Earth,Old
137,138,Vivarium Control,~40,32.0,On Earth,Old
138,139,Vivarium Control,~40,NaN,On Earth,Young
139,140,Vivarium Control,~40,NaN,On Earth,Young
140,141,Vivarium Control,~40,32.0,On Earth,Old

In [68]:
new_osd_liver['Factor Value[Age]'].unique()

array(['32', '10 to 12'], dtype=object)

In [69]:
import seaborn as sns
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'seaborn'